.DS_Store
*.swp
.ipynb_checkpoints
.fortls*
.vscode
.idea
*.code-workspace
model_mod_copy.f90

/work/*.o
/work/*.mod
/work/convert_nc
/work/*default
/work/*default
/work/Makefile
/work/dart_log.out
/work/preprocess

/applications/*
!/applications/1dthermal
!/applications/template
!/applications/workflow_ipynb

/applications/1dthermal/dart_inout/*
!/applications/1dthermal/dart_inout/.gitignore
/applications/1dthermal/pflotran_output/*
!/applications/1dthermal/pflotran_output/.gitignore
/applications/1dthermal/pflotran_input/*.nc
/applications/1dthermal/work/*
!/applications/1dthermal/work/.gitignore

/applications/workflow_ipynb/*.png

/utils/__pycache__/*
/utils/__pycache__
