pflotran_output/*.h5
pflotran_output/*.out
pflotran_output/*.chk
.DS_Store
*.swp

work/*.o
work/*.mod
work/convert_nc
work/*default
work/*default
work/Makefile
work/dart_log.out
work/preprocess

dart_inout/*
